$viewer-width: 250px;
$viewer-aspect-ratio: 1.5 / 1;
$viewer-content-width: 1000px;
$viewer-content-height: 1500px;
$viewer-scale: $viewer-width / $viewer-content-width;

.esb-page-viewer {
	display: inline-block;
	border: solid 1px #efefef;
}

.esb-page-viewer-iframe-wrap {
	position:relative;
	min-width: $viewer-width;
	overflow: hidden;

	&:after {
		transition: opacity 1s ease;
		content: '';
		position:absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.8);
		opacity: 1;
	}
	
	&:before {
		content: '';
		display: block;
		padding-top: $viewer-aspect-ratio * 100%;
	}

	.esb-page-viewer--is-loaded &:after {
		opacity: 0;
	}
}

.esb-page-viewer-iframe {
	width: $viewer-content-width;
	height: $viewer-content-height;
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale($viewer-scale);
	transform-origin: 0 0;
}