$default-border-radius: 4px;

.esb-mark--has-outline {
	transition: outline-color 0.4s ease;
	outline: solid 1px $esb-orange;

	&:hover {
		outline-width: 2px;
	}
}

.esb-mark--has-static-position {
	position: relative;
}

.esb-mark-label {
	transition: opacity 0.4s ease;
	border-radius: $default-border-radius;
	position: absolute;
	top: 0;
	left: 0;
	background: $esb-orange;
	color: white;
	font-size: 16px;
	font-family: $esb-font-family;
	opacity: 1;
	padding: 5px 0;
	display: none;

	.esb-mark--has-label & {
		display: block;
	}

	.esb-mark-position-top-right & {
		left: auto;
		right: 0;
	}

	.esb-mark-position-bottom-left & {
		top: auto;
		bottom: 0;
	}

	.esb-mark-position-bottom-right & {
		top: auto;
		left: auto;
		bottom: 0;
		right: 0;
	}
}

.esb-mark-link {
	text-decoration: none;
	color: white;

	&:hover {
		text-decoration: underline;
		color: #efefef;
	}
}

.esb-mark-label-id,
.esb-mark-label-name {
	padding: 0 10px;
}

.esb-mark-label-id + .esb-mark-label-name {
	padding-left: 0;
}

.esb-mark-label--has-name .esb-mark-label-id {
	opacity: 0.8;
}

.esb-mark-group-secondary {
	&.esb-mark--has-outline {
		outline-color: $esb-maroon;
	}

	.esb-mark-label {
		background: $esb-maroon;
	}
}

.esb-mark.esb-mark--is-hidden {
	.esb-mark-label {
		opacity: 0;
	}

	&.esb-mark--has-outline {
		outline-color: rgba($esb-orange, 0);
	}
}

.esb-mark-group-red {
	&.esb-mark--has-outline {
		outline-color: $esb-red;
	}

	.esb-mark-label {
		background: $esb-red;
	}
}
.esb-mark-group-yellow {
	&.esb-mark--has-outline {
		outline-color: $esb-yellow;
	}

	.esb-mark-label {
		background: $esb-yellow;
	}	
}
.esb-mark-group-green {
	&.esb-mark--has-outline {
		outline-color: $esb-green;
	}

	.esb-mark-label {
		background: $esb-green;
	}	
}
.esb-mark-group-blue {
	&.esb-mark--has-outline {
		outline-color: $esb-blue;
	}

	.esb-mark-label {
		background: $esb-blue;
	}	
}
.esb-mark-group-purple {
	&.esb-mark--has-outline {
		outline-color: $esb-purple;
	}

	.esb-mark-label {
		background: $esb-purple;
	}	
}
.esb-mark-group-pink {
	&.esb-mark--has-outline {
		outline-color: $esb-pink;
	}

	.esb-mark-label {
		background: $esb-pink;
	}	
}
.esb-mark-group-black {
	&.esb-mark--has-outline {
		outline-color: $esb-black;
	}

	.esb-mark-label {
		background: $esb-black;
	}	
}
.esb-mark-group-white {
	&.esb-mark--has-outline {
		outline-color: $esb-white;
	}

	.esb-mark-label {
		background: $esb-white;
		color: $esb-black;
	}	
}
.esb-mark-group-brown {
	&.esb-mark--has-outline {
		outline-color: $esb-brown;
	}

	.esb-mark-label {
		background: $esb-brown;
	}
}