$esb-orange: #e76822;
$esb-maroon: #801608;
$esb-red: $esb-maroon;
$esb-yellow: #c07C39;
$esb-green: #06601E;
$esb-blue: #3591A7;
$esb-purple: #7B3AAA;
$esb-pink: #B53672;
$esb-brown: #532B03;
$esb-black: #000;
$esb-white: #fff;
$esb-font-family: 'Proxima Nova', 'Arial', sans-serif;