<div class="row esb-tool-overview">
	<div class="col-lg-5 esb-tool-overview-content">
		<div class="row">
			<div class="col-xs-3">
				<img src="site/images/frame_icon.png" alt="" class="img-responsive">
			</div>
			<div class="col-xs-9">
				<h2>Frame</h2>
				<p>
					Frame components in a responsive context.
				</p>
				<h4>Use To</h4>
				<ul>
					<li>Show and compare variations &amp; states</li>
					<li>Compare as small multiples</li>
					<li>Demonstrate responsiveness across widths</li>
					<li>Present in <a href="#">gallery or list formats</a></li>
				</ul>
			</div>

		</div>
	</div>
	<div class="col-lg-7">
		<div class="esb-tool-overview-nav">
			<a class="active" href="#esb-frame-example" aria-controls="esb-frame-example" role="tab" data-toggle="tab">Example</a>
			<a href="#esb-frame-code" aria-controls="esb-frame-code" role="tab" data-toggle="tab">Code</a>
			<a href="#">Tutorial &amp; Doc <i class="fa fa-chevron-right"></i></a>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="esb-frame-example">
				<div class="row">
					<div class="col-lg-9 col-lg-offset-3">
						<div data-esb-frame="sign-in-form" data-esb-variation="default" data-esb-title="G24 Sign In" data-esb-scale="0.5" data-esb-href="false" data-esb-offset-y="10"></div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="esb-frame-code">
				<pre class="language-markup" >
<code>&lt;div data-esb-frame=&quot;sign-in-form&quot; 
     data-esb-variation=&quot;default&quot; 
     data-esb-title=&quot;G24 Sign In&quot; 
     data-esb-scale=&quot;0.5&quot;&gt;&lt;/div&gt;</code></pre>
			</div>
		</div>
	</div>
</div>