<div class="row esb-tool-overview">
	<div class="col-lg-5 esb-tool-overview-content">
		<div class="row">
			<div class="col-xs-3 col-sm-2 col-lg-3">
				<img src="site/images/include_icon.png" alt="" class="img-responsive">
			</div>
			<div class="col-xs-9 col-sm-10 col-lg-9">
				<h2>Include</h2>
				<p>
					Dynamically inject a component's HTML and its associated CSS and JS in page layouts with advanced controls using only a browser<sup>*</sup>. No server needed.
				</p>
				<p>
					<sup>*</sup>except older IE, yawn.
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="esb-tool-overview-nav">
			<a class="active" href="#esb-include-example" aria-controls="esb-include-example" role="tab" data-toggle="tab">Example</a>
		    <a href="#esb-include-code" aria-controls="esb-include-code" role="tab" data-toggle="tab">Code</a>
		    <a href="http://example.com">Tutorial &amp; Doc <i class="fa fa-chevron-right"></i></a>
		</div>
		<div class="tab-content">
			
			<div role="tabpanel" class="tab-pane fade in active" id="esb-include-example">
				<div class="row">
					<div class="col-sm-7">
						<div class="esb-include-explanation">
							<ul>
								<li><i class="fa fa-file"></i> <span>/includes/sign-in.html</span></li>
								<li><i class="fa fa-file"></i> <span>/includes/sign-in.css</span></li>
								<li><i class="fa fa-file"></i> <span>/includes/sign-in.js</span></li>
							</ul>	
							<div class="esb-include-explanation_injected">
								Injected in this page!
								<i class="fa fa-arrow-right"></i>
							</div>						
						</div>
					</div>
					<div class="col-sm-5">
						<div data-esb-include="sign-in-form"></div>
					</div>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane fade" id="esb-include-code">
<pre class="language-markup">
<code>&lt;div data-esb-include=&quot;sign-in-form&quot;&gt;&lt;/div&gt;</code></pre>
			</div>
		</div>
	</div>
</div>