<div class="row esb-tool-overview">
	<div class="col-md-5">
		<div class="row">
			<div class="col-xs-3">
				<img src="site/images/mark_icon.png" alt="" class="img-responsive">
			</div>
			<div class="col-xs-9">
				<h2>Mark</h2>
				<p>
					Mark components in layouts with names and/or IDs.
				</p>
				<h4>Use To</h4>
				<ul>
					<li>Illustrate page composition</li>
					<li>Demonstrate component use</li>
					<li>Link to documentation</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="col-md-7">
		<div class="esb-tool-overview-nav">
			<a class="active" href="#esb-mark-example" aria-controls="esb-mark-example" role="tab" data-toggle="tab">Example</a>
			<a href="#esb-mark-code" aria-controls="esb-mark-code" role="tab" data-toggle="tab">Code</a>
			<a href="#">Tutorial &amp; Doc <i class="fa fa-chevron-right"></i></a>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="esb-mark-example">
				<div class="row">
					<div class="col-md-4 col-md-offset-3">
						<div data-esb-include="sign-in-form" data-esb-variation="marked"></div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="esb-mark-code">
				<pre class="language-markup" data-line="1">
<code>&lt;form action=&quot;#&quot; class=&quot;esb-sign-in-form&quot; data-esb-mark=&quot;G24 Sign In&quot;&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;username&quot;&gt;Username&lt;/label&gt;
		&lt;input type=&quot;text&quot; id=&quot;username&quot; name=&quot;username&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;form-group&quot;&gt;
		&lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;
		&lt;input type=&quot;password&quot; id=&quot;password&quot; name=&quot;password&quot;&gt;
	&lt;/div&gt;
	&lt;button type=&quot;submit&quot; class=&quot;btn&quot;&gt;Go&lt;/button&gt;
&lt;/form&gt;</code></pre>
			</div>
		</div>
	</div>
</div>