<article id="variations">
	<section data-variation="default">
		<div class="newsletter-sign-up-wrap">
			<h1>Sign Up For Our Newsletter</h1>
			<form action="">
				<input type="text" placeholder="Name">
				<input type="email" placeholder="Email">
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</section>
	<section data-variation="red">
		<div class="newsletter-sign-up-wrap red">
			<h1>Sign Up For Our Newsletter</h1>
			<form action="">
				<input type="text" placeholder="Name">
				<input type="email" placeholder="Email">
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</section>
	<section data-variation="blue">
		<div class="newsletter-sign-up-wrap blue">
			<h1>Sign Up For Our Newsletter</h1>
			<form action="">
				<input type="text" placeholder="Name">
				<input type="email" placeholder="Email">
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</section>
	<section data-variation="green">
		<div class="newsletter-sign-up-wrap green">
			<h1>Sign Up For Our Newsletter</h1>
			<form action="">
				<input type="text" placeholder="Name">
				<input type="email" placeholder="Email">
				<button type="submit">Sign Up</button>
			</form>
		</div>
	</section>
</article>