<p>Download <a href="http://github.com/eightshapes/blocks/releases">the latest release</a> and add <strong>esb.min.js</strong> and <strong>esb.min.css</strong> to the head of your page.</p>
<pre class="language-markup" data-line="3,4">
<code>&lt;html&gt;
    &lt;head&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;/path/to/esb.min.css&quot;/&gt;
        &lt;script src=&quot;/path/to/esb.min.js&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;!-- Your work here! --&gt;
    &lt;/body&gt;
&lt;/html&gt;</code></pre>