@import 'docs_fonts';
@import 'docs_settings';
@import 'esb_overrides';
@import 'foundation';

.top-bar .row {
	max-width: $row-width;
}

.top-bar .name h1 a {
	padding-left: 0;
}

// html {
//   background-color: $gray-lighter;
// }

// body {
//   vertical-align: baseline;
// }

// h1 {
//   font-family: $proxima_nova_light;
//   line-height: 1.1em;
// }

// h2 {
//   font-family: $proxima_nova_regular;
//   line-height: 1.1em;
// }

// h3 {
//   font-family: $proxima_nova_semibold;
//   line-height: 1.1em;
// }

// h4 {
//   font-family: $proxima_nova_semibold;
//   line-height: 1.1em;
// }

// .doc-content-preview-row .well {
//   min-height: 280px;
// }

// .btn-ghost {
//   background: none;

//   &.btn-primary {
//     color: $brand-primary;
//     &:hover {
//       background: lighten($brand-primary, 20%);
//       color: darken($brand-primary, 20%);
//     }
//   }

//   &.btn-info {
//     color: $brand-info;
//     &:hover {
//       background: lighten($brand-info, 20%);
//       color: darken($brand-info, 20%);
//     }
//   }

//   &.btn-warning {
//     color: $brand-warning;
//     &:hover {
//       background: lighten($brand-warning, 20%);
//       color: darken($brand-warning, 20%);
//     }
//   }

//   &.btn-success {
//     color: $brand-success;
//     &:hover {
//       background: lighten($brand-success, 20%);
//       color: darken($brand-success, 20%);
//     }
//   }

//   &.btn-danger {
//     color: $brand-danger;
//     &:hover {
//       background: lighten($brand-danger, 20%);
//       color: darken($brand-danger, 20%);
//     }
//   }
// }

// *[data-toggle='button'] {
//   @extend .btn-ghost;

//   &:before {
//     @extend .glyphicon, .glyphicon-unchecked;
//     margin-right: $padding-xs-horizontal;
//   }

//   &[aria-pressed='true'] {
//     color: white;

//     &:before {
//       @extend .glyphicon, .glyphicon-check;
//     }
//   }
// }