// Color Palette
$black: #000000;
$gray: #3f3f44;
$lightgray: #f5f5f5;
$white: #ffffff;
$blue: #47c0e8;
$orange: #e76822;

$linkcolor: $blue;

$text-color: #555555;

// Navigation
$border-color: #595959;
$tab-border-color: #dcdcdc;

// Frame
$frame-container-background-color: lighten($lightgray, 3%);
$frame-container-border-color: transparent;
