// ---------------------------------------------------------------------------
// Basic Elements
.b-shell * {
	@include box-sizing(border-box);
}

.b-shell {
	background-color: $white; // no good place for this to live
}

body {
	font-family: $font-stack-regular;
}

b,
strong {
	font-family: $font-stack-bold;
}

hr {
	display: block;
  clear: both;
  border: 0 $lightgray solid;
 	border-top-width: 1px;
 	height: 0;
}

// Responsive images
img {
	max-width: 100%;
	height: auto;
}

// Leading Header and Paragraph
h2.leading {
	@include type-L;
	margin-bottom: 2px;
}
p.leading {
	@include type-ML;
}

// Hidden text for accessibility
.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
// ---------------------------------------------------------------------------
// Browser Fixes
::-moz-focus-inner {
	border:0;
}
