// Holding place for global variables shared across layouts

// Header height also dicates top position of panel
$menu-item-height: 55px;
$menu-item-width: 55px;

// Thin header height
$thin-header-height: 40px;

// Max panel width
$max-panel-width: 700px;

// Footer
$footer-height: 225px;

// Global border radius used by Compass as a default
$border-radius: 6px;