@import "susy";
@import "base/typography";

// ---------------------------------------------------------------------------
// Grid Fundamentals
$total-columns  : 4;
$column-width   : 3em;
$gutter-width   : 1em;
$grid-padding   : 0.5em;
$container-style: magic;
$container-width: 64em;

@mixin breakpoint($tshirtsize, $direction: "up") {
	$breakpoint-columns: 4;
	$breakpoint-size: 4;

	@if $tshirtsize == XS {        	//  240px at 16px base font
		$breakpoint-columns: 4;
		$breakpoint-size: 15em;
	} @else if $tshirtsize == S {  	//  320px at 16px base font
		$breakpoint-columns: 4;
		$breakpoint-size: 20em;
	} @else if $tshirtsize == SM { 	//  480px at 16px base font
		$breakpoint-columns: 6;
		$breakpoint-size: 30em;
	} @else if $tshirtsize == M {  	//  560px at 16px base font
		$breakpoint-columns: 6;
		$breakpoint-size: 35em;
  } @else if $tshirtsize == MM {  //  600px at 16px base font
    $breakpoint-columns: 6;
    $breakpoint-size: 37.5em;
	} @else if $tshirtsize == MML {	//  672px at 16px base font
		$breakpoint-columns: 9;
		$breakpoint-size: 42em;
	} @else if $tshirtsize == ML { 	//  768px at 16px base font
		$breakpoint-columns: 12;
		$breakpoint-size: 48em;
	} @else if $tshirtsize == MLL {	//  864px at 16px base font
		$breakpoint-columns: 12;
		$breakpoint-size: 54em;
	} @else if $tshirtsize == L {  	//  960px at 16px base font
		$breakpoint-columns: 12;
		$breakpoint-size: 60em;
	} @else if $tshirtsize == XL { 	// 1024px at 16px base font
		$breakpoint-columns: 12;
		$breakpoint-size: 64em;
	} @else if $tshirtsize == XXL {	// 1272px at 16px base font
		$breakpoint-columns: 12;
		$breakpoint-size: 79.5em;
	} @else if $tshirtsize == XXXL { // 1400px at 16px base font
    $breakpoint-columns: 12;
    $breakpoint-size: 87.5em;
  } @else if $tshirtsize == SXL { // 1600px at 16px base font
    $breakpoint-columns: 12;
    $breakpoint-size: 100em;
  }

  @if $direction == up {
    @include at-breakpoint($breakpoint-size $breakpoint-columns, $base-font-size) {
      @content;
    }
  } @else {
    @include at-breakpoint($breakpoint-columns ($breakpoint-size - 0.1), $base-font-size) {
      @content;
    }
  }
}

@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

@mixin unbleed($sides: left right) {
  @if $sides == 'all' {
    margin: 0;
  } @else {
    @each $side in $sides {
      margin-#{$side}: 0;
    }
  }
}

@mixin bleed-until($point) {
  @include bleed();

  @include breakpoint($point) {
    $sides: left right;

    @each $side in $sides {
      padding-#{$side}: 0;
    }
    @include unbleed();
  }
}

@mixin full-bleed() {
  margin-left: - $grid-padding;
  margin-right: - $grid-padding;
}

@mixin remove-grid-padding-until($point) {
  $sides: left right;
  @each $side in $sides {
    margin-#{$side}: - $grid-padding;
  }

  @include breakpoint($point) {
    @include unbleed();
  }
}

@mixin clear() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear:both;
  }
  *zoom: 1;
}

@function px-to-em($px, $base: $base-font-size) {
  @return #{$px / $base}em;
}
