@import "base/globals";
@import "base/grid";

// ---------------------------------------------------------------------------
// Layouts with Left & Right Off Canvas
@mixin offcanvas-dimensions($offcanvas-width) {
	.js [role="blocks-navigation"] {
		width: $offcanvas-width;
	}

	.js [data-position="left"] {
		[role="blocks-main"] {
			margin-left: #{$offcanvas-width};
			margin-right: -#{$offcanvas-width};
		}
	}
}

body {
	position:relative;
	overflow-x:hidden;
	min-height: 640px;
	background-color: $gray;
}

.b-shell {
	overflow: hidden;
	width: 1401px;
	max-width: 100%;
	margin: 0 auto;
}

.b-canvas {
	background-color: white;
}

@include offcanvas-dimensions(240px);

[role="blocks-main"],
[role="blocks-navigation"] {
	position: relative;
	display: block;
	width: 100%;
	@include transition(0.25s margin ease-in);
}

.js [role="blocks-main"] {
	@include position(fixed, 0px 0px 0px 0px);
	margin-left: 0;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.js [role="blocks-navigation"] {
  @include position(fixed, 0px auto 0px 0px);
	padding: 0;
	overflow: auto;
  -webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
				  overflow-scrolling: touch;

	.b-container {
		height: 100%;
	}
}

.b-main,
.b-siteheader {
	@include span-columns(4);
	margin-right: 0;
	clear: both;
}

// The wide header appears at a wider viewport width
.b-wide-header {
	display: none;
}

[data-position="left"] {
	[role="blocks-main"] {
		@include box-shadow(0 0 10px rgba(0,0,0, 0.2));
	}

	[role="blocks-navigation"] {
		margin-left: 0;
	}

	// Style the hamburger menu icon
	.b-headermenu-main {
		// background-color: $active-tab-color;
	}
}

@include breakpoint(M) {
	@include offcanvas-dimensions(280px);
}

@include breakpoint(ML) {
	@include offcanvas-dimensions(320px);

	[role="blocks-main"] .b-page-content {
		margin-top: 1em;
	}
}

@include breakpoint(L) {
	// Header swap
	.b-narrow-header {
		display: none;
	}

	.b-wide-header {
		display: block;

		&.b-headerbar {
			margin-bottom: 0;
		}
	}

	.js [role="blocks-navigation"] {
		top: 65px;
		left: auto;
		margin: 0;

		&.b-thin-header {
			top: $thin-header-height;
		}
	}

	[data-position="left"] {
		[role="blocks-main"] {
			.b-page-content,
			.b-bleed .b-container {
				margin-left: 0;
			}
		}
	}
}

@include breakpoint(XXL) {
	.js	[role="blocks-main"] {
		float: right;
		@include position(relative, auto auto auto auto);
	}

	[data-position="left"] {
		[role="blocks-main"] {
			.b-page-content,
			.b-bleed .b-container {
				$move-width: 1272px / 2;
				left: 50%;
				margin-left: -#{$move-width};
			}
		}
	}
}
