// ---------------------------------------------------------------------------
// Lists
ul {
  list-style: disc inside;

}

ol {
  list-style: decimal inside;
}

ol li,
ul li {
  margin: 8px 0 0 0;
  padding: 0;
  text-indent: -0.7rem;
  margin-left: 0.7rem;
}
