// Global Navigation
@import "component";
@import "base/collapsibles";

.t-offcanvas-dark.l-shell {
  background-color: rgb(57,57,57);
}

.t-offcanvas-light.l-shell {
  background-color: rgb(232,232,232);
}

.l-canvas {
  background-color: white;
}

// IMPORTANT: Keep this placed here so that the code below
// also overrides the narrow collapsible layout at the M breakpoint.
// Also, keep it wrapped in .l-nav otherwise it bleeds to other
// components that leverage collapsibles.
@include breakpoint(M) {
  // We want collapsibles to behave the same way at wider widths
  .l-nav {
    @include collapsible-narrow();
  }
}


.l-nav {
  .l-collapsibles {
    margin: 0;
    padding: 0;

    .l-collapsible.non-collapsible {
      padding: 5px 4px 1px 0;

      h2 {
        text-transform: none;
        font-weight: 500;
      }
    }

    .l-collapsible,
    .l-collapsible.home {
      padding: 12px 4px 6px 0;

      h2 {
        @include semibold();
        font-family: $font-stack-regular;
        font-size: 14px;
        text-transform: uppercase;
        margin-left: 22px;
        padding-left: 8px;
      }
    }
    // Defeat default collapsible layout
    .l-collapsible + .drawer {
      padding: 0;

      li {
        margin-bottom: 0;
        border-top: 1px solid rgb(219,219,219);
      }
    }

    .l-collapsible.non-collapsible {
      h2 {
        margin-left: 0;
      }
    }
//Remove drawers that are in the footer
    .also-in-footer {
      display: none;
    }
//Hide Megamenu Utilities
    .t-tertiary,
    .l-actions {
      display: none;
    }

    li {
      padding: 5px 4px 5px 10px;
      font-size: $type-M;
      position: relative;
    }

    .l-collapsible.international > *::before {
      @include map-65x32-icon();
      left: auto;
      right: 1px;
      top: -22px;
    }

    > .l-collapsible:first-child {
      border-top: 0;
    }

    .l-collapsible > * {
      margin-left: 0;
    }

    .l-collapsible > *::before {
      left: -11px;
      right: 6px;
    }

    .item-badge {
        position: absolute;
        display: block;
        padding: 0 7px;
        top: 8px;
        right: 5px;
        border-radius: 10px;
    }

    > .l-collapsible:last-child {
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }
  }
}

.t-nav {
  text-shadow: 1px 1px rgba(28,28,28,.4);

  .t-collapsible {
    border-color: $darkestgray;
    background-color: rgb(45,45,45);

    h2 {
      color: rgb(250,250,250);
    }
  }
  .t-collapsible.non-collapsible {
    border-color: rgb(45,45,45);
    background-color: rgb(57,57,57);

    h2 {
      color: rgb(171,171,171);
    }
  }

  .t-collapsible.home {
    border-color: rgb(38,38,38);
    background-color: rgb(45,45,45);
    color: rgb(250,250,250);

    h2 {
      color: rgb(250,250,250);
    }
  }

  .t-collapsibles li {
    border-color: rgb(45,45,45);
    background-color: rgb(57,57,57);

    a {
      color: rgb(171,171,171);
    }
  }
  .item-badge {
    color: $lightgray;
    background-color: $darkgray;
  }
}

.t-light.t-nav {
  text-shadow: none;

  .t-collapsibles .t-collapsible > *::before {
    color: $darkestgray;
  }

  .t-collapsible.l-collapsible {
    border-color: rgb(219,219,219);
    background-color: rgb(244,244,244);

    h2 {
      color: rgb(21,21,21);
    }

    &:focus {
      outline: none;
      border-top: 1px solid rgba(19, 79, 143, 0.5);
      border-bottom: 1px solid rgba(19, 79, 143, 0.6);
      @include box-shadow(0 0 3px rgba(19, 79, 143, 0.8));
    }
  }

  .t-collapsible.non-collapsible {
    background-color: rgb(232,232,232);
    h2 {
      color: rgb(17,60,124);
    }
    > *::before {
      background-image: none;
    }
    &.international > *::before {
      @include map-65x32-icon();
    }
  }

  .t-collapsible.home {
    color: rgb(250,250,250);
    background-color: rgb(244,244,244);
    h2 {
      color: rgb(21,21,21);
    }
  }
  .t-collapsibles ul {
    background-color: rgb(232,233,232);
    position: relative;
  }
  .t-collapsibles li {
    border-color: rgb(219,219,219);
    background-color: transparent;
    a {
      color: rgb(17,60,124);
    }
  }
  .t-collapsibles ul:before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
  }
  .t-collapsibles ul:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
  }
  .item-badge {
    color: $white;
    background-color: rgb(171,171,171);
  }
}


.t-dark.t-nav {
  text-shadow: 1px 1px rgba(28,28,28,.4);
  background-color: $darkestgray;

  .t-collapsible {
    border-color: $darkestgray;
    background-color: rgb(57,57,57);
    h2 {
      color: rgb(250,250,250);
    }
  }
  .t-collapsible.non-collapsible {
    border-color: rgb(21,21,21);
    background-color: rgb(45,45,45);
    h2 {
      color: rgb(171,171,171);
    }
  }
  .t-collapsible.home {
    border-color: rgb(45,45,45);
    color: rgb(250,250,250);
    background-color: rgb(57,57,57);
    h2 {
      color: rgb(250,250,250);
    }
  }
  .t-collapsibles li {
    border-color: $darkestgray;
    background-color: rgb(45,45,45);
    a {
      color: rgb(171,171,171);
    }
  }
}


.t-withsymbol.t-nav {
  .t-collapsible.home > *::before {
    @include social-marriottblog-ondark-icon();
    left: -13px;
    top: -2px;
  }
  .t-collapsible.home {
    h2 {
      margin-left: 24px;
    }
  }
}
.t-withsymbol.t-nav.t-light {
  .t-collapsible.home > *::before {
    @include social-marriottblog-onlight-icon();
  }
}


@include breakpoint(ML) {
  .l-nav {
    .l-collapsibles .l-collapsible {
      padding-top: 16px;
      padding-bottom: 10px;

       h2 {
        font-size: 16px;
        padding-left: 10px;
      }
    }
    .l-collapsibles .l-collapsible.non-collapsible {
      padding-top: 8px;
      padding-bottom: 8px;

      h2 {
        font-size: 14px;
        padding-left: 10px;
      }
    }
    .l-collapsibles li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .l-collapsibles .l-collapsible.home {
      padding-top: 16px;
      padding-bottom: 10px;
      h2 {
        font-size: 16px;
        padding-left: 10px;
      }
    }
  }
}


@include breakpoint(L) {
  .js [role="navigation"].l-megamap {
    width: 960px;
    padding-bottom: 5px;
  }

  //Sorting out Megamap content
  .l-megamap {
    //Hide Off-Canvas utilities
    .l-collapsibles .non-collapsible {
      display: none;
    }
    //Expand all drawers
    .l-collapsibles .l-collapsible.collapsed + *,
    .l-collapsibles .l-collapsible[data-state="is-closed"] {
      display: block;
    }
    //Hide drawers that are also panels
    .l-collapsibles .also-a-panel {
      display: none;
    }
    //Show drawers that are in footer
    .l-collapsibles .also-in-footer {
      display: block;
    }
    //Show Megamenu utilities
    .l-collapsibles .t-tertiary {
      display: block;
    }
    .l-actions {
      display: block;
    }
  }

  // 20% width for Beyond Hotels and Shop Marriott
  // Left margin and above Marriott For, etc, should be same margin as top of panel
  // explore three column layout
  // explore moving utilities to bottom row, keeping four column

  //Presentation for Megamap
  .l-megamap {
    border: 1px solid $gray;

    .t-dropdown-panel {
      @include background-image(linear-gradient(white 0%, white 56%, $lightestgray 56%, $lightestgray 100%));
    }

    section {
      float: left;
      width: 25%;
      padding-left: 10px;
    }
    .l-container {
      max-width: 100%;
    }
    .l-collapsibles {
      h2,
      h3 {
        padding-left: 0;
      }
      .l-collapsible {
        padding-top: 14px;
        padding-bottom: 2px;
      }
      .l-collapsible h2 {
        margin-left: 0;
        margin-bottom: 4px;
        font-size: $type-M;
      }
      li {
        padding-top: 0;
        padding-bottom: 6px;
        padding-left: 0;
      }
    }
    &.t-light.t-nav {
      .t-secondary .t-collapsible h2,
      .utilities li a {
        font-size: $type-M;
        color: $gray;
        margin-bottom: 2px;
        font-weight: normal;
      }
      .utilities li a {
//        text-transform: uppercase;
        color: $linkcolor;
      }
      .t-collapsibles ul,
      .t-collapsibles li,
      .t-collapsible {
        background-color: transparent;
        border-color: transparent;
      }
      .t-collapsibles .t-collapsible.collapsed > *::before {
        background-image: none;
      }
      .t-collapsibles ul:before,
      .t-collapsibles ul:after {
        background: none;
      }
    }
    .t-secondary,
    .t-tertiary {
      margin-top: 14px;
    }
    .marriott-for {
      clear: left;
    }
    .utilities {
      margin-top: 27px;
    }
    .internationalization-link {
      position: relative;
    }
    .internationalization-link > *::after {
      @include map-65x32-icon();
      position: absolute;
      display: block;
      left: -8px;
      top: 2px;
//      left: 155px;
//      top: -23px;
      background-size: 75%;
    }
    .marriott-for,
    .news,
    .local-utilities,
    .about-marriott {
      ul {
        display: block;
      }
      li  {
        float: left;
      }
    }
    .local-utilities {
      margin-top: 25px;
    }
    .local-utilities li::after {
      content: " •";
      color: $gray;
    }
    .local-utilities li:last-child::after {
      content: "";
    }
    .marriott-for,
    .news,
    .about-marriott {
      ul {
      }
      li {
        padding-right: 5px;
      }
      li::after {
        content: ",";
      }
      li:last-child::after {
        content: "";
      }
    }
    .l-actions {
      //note: l-actions is display: none in the mobile-first code;
      // it may need to be display: something-other-than-none here
      // to make it appear at the proper moment.
    }
  }
}

// Main Menu as panel
@include breakpoint(L) {
  .l-panel-mainmenu {
    right: auto;
    left: 0;
    width: 320px;

    &.l-megamap {
      width: $max-panel-width + 200px;
      max-width: none;

      & .l-dropdown-panel {
        width: $max-panel-width + 200px;
        max-width: none;
      }
    }

    &.t-megamap {
      border-top: 0;
    }
  }
}

@include breakpoint(XXXL) {
  .l-panel-mainmenu {
    float: left;
    left: auto;
    right: auto;
    width: 100%;
    max-width: 1401px;

    .l-dropdown-panel {
      float: left;
      width: 320px;
    }
  }
}
