// ---------------------------------------------------------------------------
// Font Variables
$font-stack-light: "ProximaNova-Light", "ProximaNovaRegular", "Helvetica Neue", Arial, sans-serif;
$font-stack-regular: "ProximaNovaRegular", "Helvetica Neue", Arial, sans-serif;
$font-stack-semibold: "ProximaNovaSemibold", "ProximaNovaRegular", "Helvetica Neue", Arial, sans-serif;
$font-stack-bold: "ProximaNovaBold", "ProximaNovaSemibold", "ProximaNovaRegular", "Helvetica Neue", Arial, sans-serif;

// ---------------------------------------------------------------------------
// Type Sizes
$type-XXS	: 12px;
$type-XS	: 14px;
$type-S   : 16px;
$type-SM  : 18px;
$type-M   : 20px;
$type-MM  : 28px;
$type-ML  : 32px;
$type-L   : 38px;
$type-XL  : 48px;

$normpx   : $type-XS;

$base-font-size   : $type-S;
$base-line-height : $type-S * 1.25;

// Mixins
@mixin semibold() {
	font-family: $font-stack-semibold;
}

@mixin type-XL() {
	font-family: $font-stack-light;
	font-size: $type-XL;
	line-height: $type-XL + ($type-XL / 6);
}

@mixin type-L() {
	font-family: $font-stack-regular;
	font-size: $type-L;
	line-height: $type-XL + ($type-XL / 6);
}

@mixin type-ML() {
	font-family: $font-stack-regular;
	font-size: $type-ML;
	line-height: $type-ML + ($type-ML / 8);
}

@mixin type-MM() {
	font-family: $font-stack-regular;
	font-size: $type-MM;
	line-height: $type-MM + ($type-MM / 8);
}

@mixin type-M() {
	font-family: $font-stack-regular;
	font-size: $type-M;
	line-height: $type-M + ($type-M / 8);
}

@mixin type-SM {
	font-family: $font-stack-regular;
	font-size: $type-SM;
	line-height: $type-SM + ($type-SM / 8);
}

@mixin type-S {
	font-family: $font-stack-regular;
	font-size: $type-S;
	line-height: $type-S + ($type-S / 8);
}

@mixin type-XS {
	font-family: $font-stack-regular;
	font-size: $type-XS;
	line-height: $type-XS;
}
