.esb-mark-label {
	z-index: 100;
}

.esb-frame {
	background: $gray-lighter;
	min-width: 0;

	&.esb-frame--has-device-frame {
		background: none;
	}
}

.esb-frame-title {
	color: $gray-dark;
}

.esb-frame-link .esb-frame-title {
	color: $link-color;

	&:hover {
		color: lighten($link-color, 10%);
	}
}

.esb-frame-iframe-wrap {
	background: white;
}

.page-annotations-list {
	dd {
		margin-bottom: 30px;
	}

	dt {
		font-size: $font-size-h4;
	}
}